version: "3.8"
services:
  mongo:
    image: mongo:7
    ports: ["27017:27017"]
    volumes: ["mongo_data:/data/db"]
  redis:
    image: redis:7
    ports: ["6379:6379"]
volumes:
  mongo_data:
# cd infra && docker compose -f docker-compose.dev.yml up -d && cd ..
